@CHARSET "UTF-8";
/*
 * 刀具
 * 个人信息
 * 2017-02-24
 * wanghongyi
*/
.centre>.content{
	padding: 60px 0;
}
.content_left{
	float: left;
	min-height: inherit;
	width: 215px;
    padding-right: 20px;
    border-right: 1px solid #d2d2d2;
}
.content_left>.message{display: table;}
.content_left .head_portrait{
	background: #FFFFFF;
	border-radius: 50%;
	float: left;
	height: 70px;
	width: 70px;
}
.content_left .head_portrait img{
	height: 100%;
	width: 100%;
	border-radius: 50%;
}
.content_left>.message>h3{
	font: 16px "宋体";
    float: left;
    margin: 16px 0px 10px 12px;
}
.content_left>.message>img{
	float: left;
    margin-left: 10px;
}
.content_left>img{margin-top: 22px;}
.content_left>span{
	font: 18px "宋体";
    color: #333333;
    margin: 30px 0 4px 0;
    display: block;
}
.content_left>ul>li{
	margin-top: 14px;
	color: #666;
}
.content_left>ul>.pitch{
	color: #03A1A4;
	background: url(../img/arrow_right.png) no-repeat right;
}
.content_right{
	margin-left: 255px;
	min-height: inherit;
}
.content_right h4{
	color: #03A1A4;
	margin-bottom: 48px;
}
.content_right label{
	display: block;
	float: left;
	line-height: 26px;
	width: 85px;
	text-align: right;
}
.content_right input{
	background: #fff;
	display: block;
	height: 26px;
	width: 224px;
	border-radius:4px;
	padding:0 5px;
}
.content_right button,
.content_right input[type=submit]{
	cursor:pointer;
	border-radius: 3px;
	background-color: #03A1A4;
	color: #FFFFFF;
	height: 32px;
	margin: 26px 0 0 85px;
	padding:0 20px;
}
.content_right button:hover,
.content_right input[type=submit]:hover{
	background-color: #2EA6A9;
}
/* 分页 */
#demo>div{
	border:none;
	display: block;
	text-align: center;
}
#demo>div>span,
#demo>div>a{
	background-color: transparent;
	border: none;
}
