/*
 * 刀具
 * 注册页面css
 * 2017-02-21
 * wanghongyi
*/
body{
	background-color: rgb(242, 242, 242);
	font-size:14px;
}
.centre .tab>h3{
	color:#333;
	font-size: 20px;
	float: left;
}
form{
	display: table;
    margin: 50px auto 0 auto;
    padding-bottom: 40px;
	border: solid #dddddd;
    border-width: 0px 1px;
}
.preview{height: 120px;}
#preview{
	background:#fff;
	float:left;
	height: 234px;
	width: 234px;
}
#preview>img{
	margin: 50px 82px 10px 82px;
}
#preview>#imghead{
	margin: 0;
	height: 100%;
	width: 100%;
}
#preview>span{
	color: #666666;
    margin: 0 68px;
}
.superior img{width: 950px;}
.line{
	height: 44px;
	display: table;
	margin:0 auto;
}
.line label,
.line input,
.line b,
.line span{
	display: table;
	float: left;
}
.line>label{
	color:#333333;
	font-size:14px;
	height: 30px;
    text-align: right;
    width: 200px;
    line-height: 30px;
    margin-right: 14px;
}
.line label a{color: #03A1A4;}
.line>input{
	width: 234px;
	height: 30px;
}
.line>input[type=checkbox]{
	width: 13px;
	margin-right: 4px;
}
/* .line>input[type=checkbox]+label */
.line>label+label{
	width: 220px;
	text-align: left;
}
.line>input[type=submit]{
	width:239px;
	height: 40px;
	margin-top: 30px;
	margin:0;
}
.line select{
	width:234px;
	float: left;
	padding:7px;
}
.line>div.text{
	float: left;
	margin: 8px 0 0 20px;
	width: 214px;
}
div.text>label{
	padding-right: 50px;
}
.line b{
	color: red;
	margin-left: 5px;
	height:30px;
	line-height: 30px;
	width: 10px;
}
.line>span{
	line-height: 30px;
	color: red;
	min-width: 200px;
}
.line.preview>span{min-width:215px}
.switchover,
.switchover:hover{
	color:#ff5b20;
	display: block;
    text-align: center;
    margin: 80px 0;
}
.yanzheng input{width: 120px;}
.yanzheng button{
	background:#ff5b20;
	color: rgb(230,230,230);;
	float: left;
    height: 30px;
	margin-left: 14px;
    width: 100px;
}
button[disabled='disabled']{
	background: rgb(205,205,205);
}
.content form {margin: 80px auto;}
.tab{
	border-bottom: 2px solid #d2d2d2;
	display: table;
	margin-top: 40px;
	width: 100%;
}
.tab ul{float: right;}
.tab ul li{
	float: left;
	padding-bottom: 8px;
}
.tab ul li+li{margin-left: 40px;}
.tab ul li em{
	background:#999999;
	border-radius: 50%;
	color: #fff;
	display:block;
	float: left;
	font-style:normal;
	font-weight: bold;
	height: 22px;
	line-height:22px;
	margin-right: 8px;
	text-align: center;
	width: 22px;
}
.tab ul li span{
	color:#888;
	font-size:20px;
	font-weight: bold;
}
.tab ul li.selected{border-bottom: 2px solid #03a1a4;}
.tab ul .selected em{background: #03A1A4;}
.tab ul li.selected span{color: #03a1a4;}
.phone_verify{
	width: 234px;
	margin: 0 auto;
}
.head>.content>img{
	float: right;
	margin: 14px 0;
}