@CHARSET "UTF-8";
/*
 * 刀具
 * 个人信息
 * 2017-02-24
 * wanghongyi
*/
.content_right .site_head{
	display: table;
	width: 100%;
}
.content_right .site_head>h4{float: left;}
.content_right button.add_site{
	height: 26px;
	width: 130px;
	float: right;
	margin: 0;
}
.content_right .site_module,
.content_right .site_headline{
	background-color: #FFFFFF;
	height: 40px;
	width: 725px;
	margin-bottom: 12px;
	padding-left: 8px;
}
.content_right .site_headline,
.content_right .site_module:hover{background-color: #ccc;}
.content_right .site_headline>input,
.content_right .site_headline>a,
.content_right .site_module>input,
.content_right .site_module>a{
	display: block;
	float: left;
	height: 40px;
	line-height: 40px;
	text-overflow: ellipsis;
	margin: 0;
}
.content_right .site_headline>input[disabled="disabled"],
.content_right .site_module>input[disabled="disabled"]{background: transparent;padding:0;}
.content_right .name{width: 75px;}
.content_right .site{width: 300px;}
.content_right .postcode{width: 80px;}
.content_right .tel{width: 115px;}
.content_right .site_module>a{
	color: #EC7720;
	padding-right: 8px;
}
.moban div+div{margin-top: 14px;}
.moban textarea{
	height: 50px;
	width: 500px;
	resize:none;
	float: left;
}
.moban form>div{display: table;}
.moban form select+label{width: 35px;}
.moban form select{
	display: block;
	height: 26px;
	float: left;
	width: 120px;
	border-radius:4px;
	border-color:#f1f1f1;
	margin-left:5px;
}
.moban>form>.affirm{margin: 25px 10px 50px 85px;}
.moban>form>.countermand{
	margin: 25px 0 0 0;
	background-color: #FFFFFF;
	color: #333333;
	border-radius: 3px;
	height: 32px;
	padding:0
}
.moban div>span>label{
	width: 200px;
    text-align: left;
    margin-left: 14px;
    color: red;
}
.moban textarea+span>label{margin-left: 75px;}
form input{float: left;}
.content_right .site_module>a.default_address{
	border: 1px solid #ff3800;
    height: 22px;
    margin: 8px 0;
    text-align: center;
    line-height: 22px;
    padding: 0 4px;
    border-radius: 6px;
    background: #ffd6cc;
}
.content_right .site_module>a.choose_address{display:none;}
.content_right .site_module:hover>a.choose_address{
	background: #f60;
    color: #fff;
    border: 1px solid #f60;
    border-radius: 3px;
    display:block;
}